/* Estilo da tabela geral */
.tabelaHospedes {
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Cabeçalho da tabela */
.tabelaHospedes thead {
    background-color: #f1f1f1;
    color: #333;
}

/* Linhas ímpares */
.tabelaHospedes tbody tr:nth-child(odd) {
    background-color: #fbfeff;
}

/* Linhas pares */
.tabelaHospedes tbody tr:nth-child(even) {
    background-color: #e3f0f3;
}

/* Colunas de ação (botões editar e deletar) */
.acaoBtn {
    display: flex;
    justify-content: space-around;
}

/* Icones de status */
.statusIcon {
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
}

.statusIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Estilo para os botões de filtro de status */
.filtroStatus {
    margin-bottom: 20px;
}

.filtroStatus button {
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
}

/* Estilo para o tipo 'edit' */
.edit {
    width: 100%;
}

/* Estilos para a tabela rolável */
.tabelaHospedes tbody {
    display: block;  /* Torna o corpo da tabela rolável */
    max-height: 400px;  /* Altura máxima que o corpo da tabela pode ocupar */
    overflow-y: auto;   /* Permite rolar o conteúdo verticalmente */
    width: 100%;
}

.tabelaHospedes thead, .tabelaHospedes tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Garantir que o cabeçalho e o corpo fiquem alinhados */
}

.tabelaHospedes th, .tabelaHospedes td {
    text-align: center;
    padding: 8px;
    word-wrap: break-word;
}

