/* Estilo da tabela geral */
.tabelaReservas {
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-collapse: collapse;
    margin-top: 20px;
    border-color: #CCCCCC;
}

/* Cabeçalho da tabela */
.tabelaReservas thead {
    background-color: #f1f1f1;
    color: #333;
}

/* Linhas ímpares */
.tabelaReservas tbody tr:nth-child(odd) {
    background-color: #fbfeff;
}

/* Linhas pares */
.tabelaReservas tbody tr:nth-child(even) {
    background-color: #e3f0f3;
}

/* Colunas de ação (botões editar e deletar) */
.acaoBtn {
    display: flex;
    justify-content: space-around;
}

/* Icones de status */
.statusIcon {
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
}

.statusIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Botões de filtro de status */
.filtroStatus {
    margin-bottom: 20px;
}

.filtroStatus button {
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 8px 12px;
    border: none;
}

.statusIcon.solicitada {
    background-color: #4caf50;
}

.statusIcon.reservada {
    background-color: #f44336;
}

.statusIcon.hospedada {
    background-color: #9173e5;
}

.statusIcon.atrasada {
    background-color: #000000;
}

.statusIcon.cancelada {
    background-color: #4784ca;
}

.statusIcon.finalizada {
    background-color: #ffeb3b;
}

.filtroStatus .todos {
    background-color: #757575;
}

.filtroStatus .reservado {
    background-color: #4caf50;
}

.filtroStatus .hospedado {
    background-color: #f44336;
}

.filtroStatus .emLimpeza {
    background-color: #9173e5;
}

.filtroStatus .atrasada {
    background-color: #000000;
}

.filtroStatus .finalizado {
    background-color: #4784ca;
}

.filtroStatus .cancelado {
    background-color: #ffeb3b;
    color: black;
}

/* Estilo para o tipo 'edit' */
.edit {
    width: 100%;
}

/* Estilo para permitir rolamento no corpo da tabela */
.tabelaBody {
    border-color: #CCCCCC;
    display: block;
    max-height: 600px; /* Define a altura máxima do corpo da tabela */
    overflow-y: auto;  /* Rolamento vertical ativado */
}

.tabelaReservas thead {
    display: table-header-group; /* Garante que o cabeçalho da tabela não role */
}

.tabelaReservas tbody {
    display: block; /* Torna o corpo da tabela rolável */
    width: 100%;
}

.tabelaReservas tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tabelaReservas td, .tabelaReservas th {
    word-wrap: break-word;
    padding: 8px;
    text-align: left;
}
