* {
    padding: 0px;
    margin: 0px;
}

#navegacao {
    background-color: #198fad;
    height: 60px;
}


#area_menu {

    margin: 0 auto;
}

#menu {
    float: left;
    padding: 10px 0px;
}

#logo {
    float: left;
    margin: 10px auto 0px 10px;
    color: white;
}

#data {
    float: right;
    margin-right: 20px;
    color: white;
    margin-top: 20px;
}

.caixa_busca{
    border: 1px solid black;
    margin-left: 180px;
    margin-top: 2px;
    border-radius: 8px;
    height: 40px;
    width: 455px;
}

#txtBusca {
    border-radius: 8px;
    background-color: rgb(206, 206, 206);
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 40px;
    width: 450px;
}


#area_menu #txtBusca {
    margin-left: 650px;
    margin-top: 13px;
    background-color: white;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    border-radius: 0px;
    height: 32px;
    width: 260px;
}

#menu_lateral {
    width: 170px;
    margin: 0;
    padding: 0;
    float: left;
    background-color: #198fad86;
    display: block;

}

#menu_lateral ul li {
    margin: 0;
    padding: 0px;
    text-align: left;
    list-style-type: none;
}

#menu_lateral a {
    color: rgb(19, 19, 19);
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
}

#menu_lateral a.link_ativo {
    color: rgb(0, 0, 0);
    background-color: #fdc827;
}

#endereco{
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    margin-top: 5px;
    margin-left: 180px;
}

.base{
    color: rgb(13, 101, 251);
}