#cabecalho { grid-area: cabecalho;}
#menu_lateral { grid-area: menu_lateral;}
#corpo { grid-area: corpo;}


html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0px;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'cabecalho cabecalho cabecalho cabecalho cabecalho cabecalho'
        'menu_lateral corpo corpo corpo corpo corpo'
        'menu_lateral corpo corpo corpo corpo corpo';
    background-color: rgb(255, 255, 255);
    margin: 0px;
    min-height: 100vh;
}

/*CABECALHO - BARRA SUPERIOR*/
#cabecalho {
    background-color: #198fad;
    padding: 5px;
    height: 10vh;
}

#cabecalho h1, input, label, span {
    display: inline;
}

/*FIM: CABECALHO - BARRA SUPERIOR*/

/*MENU LATERAL*/

#menu_lateral{
    background-color: #198fad86;
    min-height: 100%;
}

#menu_lateral ul, li {
    margin: 0;
    padding: 0px;
    text-align: left;
    list-style-type: none;
}

#menu_lateral a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

.link_ativo {
    background-color: #fdc827;
}
.corpo{
    min-height: 100%;
}