.tab.active {
    background-color: #17a2b8;
    color: white;
}

.tab {
    border: none;
}

img.rounded-circle {
    border: 2px solid #ccc; 
    object-fit: cover;
}

.form-control {
    font-size: 16px;
}