
/* Container principal */
.containerGeral {
  display: flex;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Área de Status */
.status {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px; /* Aumentando o espaço entre os botões de status e os cards */
}

/* Estilo para os botões de status */
.status-button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black; /* Borda fina preta */
  transition: background-color 0.3s ease;
}

.status-button.pending {
  background-color: #ffcccc;
  color: black;
  font-weight: bold;
}

.status-button.unavailable {
  background-color:  #faca9c;
  color: black;
  font-weight: bold;
}

.status-button.available {
  background-color: #ccffcc;
  color: black;
  font-weight: bold;
}

.status-button.maintenance {
  background-color: #ffffcc;
  color: black;
  font-weight: bold;
}

.status-button.cleaning {
  background-color:  #e6ccff;
  color: black;
  font-weight: bold;
}

/* Cards */
/* Acomodações (cards) */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px; /* Adicionando margem superior para descer os cards */
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  position: relative;
  
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 10px;
}

.card .icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  width: 90%;
  height: 15px;
}

/* Cores dos cards */
.card.red {
  background-color: #ffcccc;
  border: 1px solid black;
}

.card.green_two {
  background-color: #faca9c;
  border: 1px solid black;
}

.card.purple {
  background-color: #e6ccff;
  border: 1px solid black;
}

.card.green {
  background-color: #faca9c;
  border: 1px solid black;
}

.card.yellow {
  background-color: #ffffcc;
  border: 1px solid black;
}

.card.orange {
  background-color: #ccffcc;
  border: 1px solid black;
}

/* Botões de ação (Liberar, Hospedar, etc.) */
.card .action-button {
  padding: 10px 15px;
  border: none;
  background-color: #000; /* Fundo preto */
  color: #fff; /* Texto branco */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.card .action-button:hover {
  background-color: #333; /* Preto mais claro no hover */
  transform: scale(1.05); /* Leve crescimento no hover */
}

.card .action-button:active {
  background-color: #555; /* Preto ainda mais claro ao clicar */
  transform: scale(1); /* Reduz o crescimento */
}

/* Botões de ícones (Editar, Perfil, Documento) */
.card .icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: inherit;
  padding: 0;
  margin: 0 0.5rem;
  transition: transform 0.3s, color 0.3s;
}

.card .icon-button:hover {
  color: #007BFF; /* Cor azul no hover */
  transform: scale(1.1); /* Leve crescimento no hover */
}

.card .icon-button:active {
  transform: scale(1);
  color: #0056b3; /* Cor azul mais escura ao clicar */
}

/* Responsividade */
@media (max-width: 767px) {
  #navegacao {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding: 10px;
  }

  #logo, #txtBusca, #data, .material-symbols-outlined {
      margin-bottom: 10px;
  }

  .container {
      flex-direction: column;
  }

  .main-content {
      width: 100%;
  }

  .cards {
      flex-direction: column;
  }

  .card {
      width: 100%;
  }
}

.status-label {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  font-weight: bold;
}

.status-label.pending {
  background-color: #ffcccc; /* Amarelo */
  color: #000;
  border: 1px solid black;
}

.status-label.unavailable {
  background-color:#faca9c; /* Vermelho */
  color: #000;
  border: 1px solid black;
}

.status-label.available {
  background-color: #ccffcc; /* Verde */
  color: #000;
  border: 1px solid black;
}

.status-label.maintenance {
  background-color: #ffffcc; /* Cinza */
  color: #000;
  border: 1px solid black;
}

.status-label.cleaning {
  background-color: #e6ccff; /* Azul */
  color: #000;
  border: 1px solid black;
}