/* Estilos gerais */
.forgot-password-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    
  }
  
  /* Container que envolve o formulário */
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://imagens.publico.pt/imagens.aspx/1824095?tp=UH&db=IMAGENS&type=JPG');
  }
  
  .forgot-password-form {
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Títulos e parágrafos */
  .forgot-password-title {
    color: #000000;
    margin-bottom: 20px;
  }
  
  .forgot-password-text {
    color: #000000;
    margin-bottom: 20px;
  }
  
  /* Estilos do input */
  .forgot-password-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Mensagem de erro */
  .forgot-password-error {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Estilos do botão */
  .forgot-password-button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #ba2f1f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .forgot-password-button:hover {
    background-color: #45a049;
  }
  
  /* Mensagem de sucesso */
  .forgot-password-success {
    margin-top: 20px;
    color:#000000;
  }
  