* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  .fundo {
    height: 100vh;
    font-family: Arial, sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://imagens.publico.pt/imagens.aspx/1824095?tp=UH&db=IMAGENS&type=JPG'); /* Coloque a imagem de fundo aqui */
    background-position: center;
  }

  .login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin-bottom: 1rem;
    color: #333;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #ba2f1f;
    color: white;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #e67e22;
  }

  @media (max-width: 600px) {
    .login-container {
      width: 90%;
    }
  }