<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Cadastros</title>
</head>

<body>
    <div id="navegacao">
        <div id="area_menu">
            <h1 id="logo">Bird House</h1>

            <input type="text" id="txtBusca" placeholder="Buscar..." />
            <label id="data">23/04/2024</label>

        </div>
    </div>
    <div id="menu_lateral" class="dropdown">
        <ul>
            <li><a href="telaPrincipal.html">Geral</a></li>
            <li><a href="link2.htm">Mapa</a></li>
            <li><a href="reserva.html">Reservas</a></li>
            <li><a href="link4.htm" class="link_ativo">Cadastros</a></li>
            <li><a href="link5.htm">Transações</a></li>
        </ul>
    </div>

    <h3 id="endereco"><span class="base">Geral</span> / Cadastros</h3>
    <h3 id="nome">Amanda Xavier</h3>
    <div class="linha">
        <ul>
            <li>Informações do Hóspede</li>
            <li>Histórico de Estadia</li>
        </ul>
    </div>

</body>

</html>