* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .menu_superior {
    background-color: #198fad;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .elementos_menu_superior{
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: white;
    margin-right: auto;
    width: 180px;
  }
  
  .data {
    align-items: center;
    color: white;
  }
  
  .material_symbols_outlined {
    color: white;
    font-size: 24px;
    margin-left: 20px;
  }
  
  .relogio {
    margin-left: auto;
    color: white;
  }
  
  .menu_lateral {
    width: 200px;
    height: 100vh;
    margin: 0;
    padding: 0;
    float: left;
    background-color: #198fad86;
  }
  
  .menu_lateral ul {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
  }
  
  .menu_lateral ul li {
    padding: 10px;
  }
  
  .menu_lateral ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
    display: block;
  }
  
  .menu_lateral li:hover {
    background-color: #fdc827;
  }
  
  .menu_lateral li.link_ativo {
    background-color: #fdc827;
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .search_bar input {
    padding: 5px;
    font-size: 16px;
  }