* {
    padding: 0px;
    margin: 0px;
}

#navegacao {
    background-color: #198fad;
    height: 60px;
}


#area_menu {
    
    margin: 0 auto ;
}

#menu {
    float: left;
    padding: 10px 0px;
}

#logo {
    float: left;
    margin: 10px auto 0px 5px;
    color: white;
}

#data{
float: right;
margin-right: 20px;
color: white;
margin-top: 20px;
}

#txtBusca {
    margin-left: 650px;
    margin-top: 13px;
    background-color: white;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}

#menu_lateral {
    width: 170px;
    margin: 0;
    padding: 0;
    float: left;
    background-color: #198fad86;
    
}

#menu_lateral ul li {
    margin: 0;
    padding: 0px;
    text-align: left;
    list-style-type: none;
}

#menu_lateral a{
    color: rgb(19, 19, 19);
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
}

#menu_lateral a.link_ativo{
    color: rgb(255, 255, 255);
    background-color: #fdc827;
}
.material-symbols-outlined{
    margin: 15px auto 20px 3px;
    float: right;
    color: white;
}
/* Estilo para o contêiner das legendas */
.legend-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Estilo para as legendas */
.legend {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}
.todos {
    background-color: #737373; /* cinza */
    color: white;
}

.disponivel {
    background-color: #3498db; /* azul */
}

.ocupado {
    background-color: #e74c3c; /* vermelho */
}

.limpeza {
    background-color: #a6a6a6; /* cinza claro */
}

.bloqueado {
    background-color: black; /*petro */
    color: white;
}

.entra_hoje {
    background-color: #ffde59; /*amarelo */
}

.sai_hoje {
    background-color: #7ed957; /* verde */
}

.atrasado {
    background-color: rgb(175, 14, 175); /* roxo */
}

.vencido {
    background-color: #004aad; /* azul escuro */
}
